// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

html, body {

	margin: 0;
	padding: 0;
}

body {
	background:#2A2B30;
	cursor: url("http://localhost:3000/uploads/resume/attachment/56/jigglypuff_pokemon.png"), auto;
}

.buttons {
	position: absolute;
	margin-left: 20px;
	z-index: -1;
	transition: 0.3s;
}


.cursor:hover .buttons {
	position: absolute;
	margin-left: 20px;
	z-index: 1;
	transition: 0.3s;
	margin-top: -30px;
}

.menu {

	background:#191a1b;
	width: 100%;
	margin: 0;

}

.menu_orta {
	width: 600px;
	margin: 0px auto;
	text-align: center;

}

.menu_orta ul {
	margin:0;
	width: 100%;
	display: inline-block;
}


.menu_orta ul li {

	float: left;
	color: #888;
	font-weight: bold;
	font-size: 16px;
	padding: 25px;
	list-style: none;
}
.menu_orta ul li:first-child {

	color: #fff;
}

.content {

	width: 960px;
	margin: 50px auto;
}

.aboutus {

    text-align: center;
    color: #555;
    font-size: 35px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 3px #000;

}


/* UPLOAD FORM KODLARI */

.preview {
		display: block;
		width: 200px;
		height: 200px;
		margin: 20px auto;
		border: 2px solid rgb(33, 122, 105);
		border-radius: 50%;
		overflow: hidden;
}

.file-upload-wrapper {
		position: relative;
		z-index: 5;
		display: block;
		width: 250px;
		height: 30px;
		margin: 5px auto;
		border-right: 2px dotted rgb(33, 122, 105);
		border-bottom: 2px dotted rgb(33, 122, 105);
		border-left: 2px dotted rgb(33, 122, 105);
}

.file-upload-native,
.file-upload-text {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
		outline: none;
}

.file-upload-text {
		z-index: 10;
		padding: 5px 15px 8px;
		overflow: hidden;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		text-align: center;
		letter-spacing: 1px;
		text-overflow: ellipsis;
		color: rgb(144, 162, 148);
		border: 0;
		background-color: transparent;
}

.file-upload-native {
		z-index: 15;
		opacity: 0;
}

/* UPLOAD FORM END */

.cursor {

	width: 140px;
	height: 140px;
	border-radius: 5px;
  background: #24252a;
  color: #fff;
  margin :0px 20px 20px 0px;
  float: left;
	text-align: center;
	z-index: 1;
}
.cursor img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
