<!DOCTYPE html>
<html>
  <head>
    <title>Deneme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>

  </head>
  <body>
      <div class="menu">
      	<div class="menu_orta">
      		<ul>
            <a href="/resumes/new"><li>Upload</li></a>
            <a href="/resumes"><li>Cursor</li></a>
      			<a href="/resumes"><li>Best Cursors</li></a>
      		</ul>
      	</div>
      </div>
      <div class = "container" style = "padding-top:20px;">
         <%= yield %>
      </div>
  </body>
</html>
